<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" id="logo" class="img-rounded">  
      </a>
    </div>
      
    <ul class="nav navbar-nav">
        <li id="Home"><a href="/"><i class="fas fa-home" style='font-size:24px'></i>&nbsp;&nbsp;Home</a></li>
        <li id="Menu"><a href="/menu"><i class="fas fa-flask"></i>&nbsp;&nbsp;Brews</a></li>
        <li id="Cart"><a href="/cart"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Cart</a></li>
<!--
        <li id="History"><a href="/history">Transactions</a></li>
        <li id="History"><a href="/profile">Edit</a></li>
-->
    </ul>
      
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>Hello! {{ user }}</a></li>
        <!--<li><a href="/profile"><i class="fas fa-address-card" style='font-size:20px'></i> &nbsp;Profile</a></li>-->
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>