<nav class="navbar navbar-default">
    <div class="navbar">
        <a href="/">Home</a></li>
        <a href="/menu">Menu</a></li>
        <a href="/cart">Cart</a></li>
        <a href="/history">History</a></li>
        <a href="/register">Register</a></li>
        <a href="/login">Login</a></li>
        <a href="/editprofile">Edit Profile</a></li>
        <a href="/search">Search</a></li>
    </div>
</nav>
<br>