<div class="row headCont">
    <div class="col-md-7">
        <a href="#"><img src="logo.png" alt="logo" class="logo"></a>
    </div>
    <div class="col-md-5">
        <nav>
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </nav>
    </div>
</div>