{{#section 'header'}}
    <link rel="stylesheet" href="/css/adminLog.css">
    <!--<script src='time.js'></script>-->
{{/section}}


<div>
    <form action="/admin" method="get">
        <input type="text" id="username" name="fname" placeholder='username'>
        <input type="text" id="password" name="lname" placeholder='password'>
        <input type="submit" value="Login">
    </form>
</div>  