{{> messages}}
<form action="/addItem" method="POST">
        <h2>Add Menu Item</h2>
        <label for="addMenuItem">Item Name</label>
        <input type="text" id="addMenuName" name="name" placeholder="Add Name"><br><br><br>

        <label for="addMenuPrice">Description</label>
        <input type="text" id="addMenuDescription" name="description" placeholder="Add Description"><br> <br>
            
        <label for="addMenuPrice">Price</label>
        <input type="text" id="addMenuPrice" name="price" placeholder="Add Price"><br> <br>
        
        {{!-- <input type="file" name="file" id="file" accept="image/*">
        <input type="button" name="submit" id="submit" value="Upload"> <br> <br>  --}}

        <br> <br>
        <button class="btn btn-primary" type="submit">Add Item</button> 
</form>

{{!-- <script type="text/javascript">

    $("#submit").click(function() {
        var file = $("#file");

        if (file.prop('files') && file.prop('files')[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#container").append('<img src="' + e.target.result + '">');
            }
            reader.readAsDataURL(file.prop('files')[0]);
        }
    });

</script> --}}
