{{#section 'header'}}
    <title>Milk Tea Labs | Admin</title>
    <link rel="stylesheet" href="/css/admin.css">
<!--    <script src='time.js'></script>-->
{{/section}}

{{> messages}}
<section id="blog" class="container">
    <h1 class="headerTemp"><i class="fas fa-flask"  style="font-size:100px;"></i><span id="menuHead">Brew Selections</span></h1>
    <div class="row">
        {{#each products}}
            <div class="text-center col-lg-4 menuCard">
              <div class="card-text"> X </div>
                <div class="card h-100 itemCont">
                    <img class="card-img-top itemImg" src="{{this.img}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Php {{this.price}}.00</p>
                        {{#if user}}
                                <button type="submit" id="updateProduct" class="btn btn-primary">Update</button>
                        {{else}}
                            <form action='/updateProduct' method="get">
                                <button type="submit" id="updateProduct" class="btn btn-primary">Update</button>
                            </form>
                        {{/if}}
                    </div>
                </div>  
            </div>
        {{/each}}
    </div>
</section>