{{#section 'header'}}
    <title>Milk Tea Labs | Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
{{/section}}

<div class="grid-container">
  <main class="main">
    <div class="cart">
        <div class="cart-list">
          <ul class="cart-list-container">
            <li>
              <h3>Cart</h3>
              <h4 class="qty">Quantity</h4>
              <h4 class="total">Price</h4>
            </li>
            {{!--  If cart is empty, show promt? --}}
            <li>
                <img class="cart-img" src="img/tea2.jpg" alt="picture"/>
                <div class="cart-name">
                  <div class="cart-name">
                    Milk Tea Pearl
                  </div>
                  <div>
                    {{!-- OnChange quantity Function --}}
                    <input type="number" id="quantity" name="quantity" min="1">
                    {{!--Delete item form cart--}}
                    <button type="button" class="delete-button" onClick="removeFromCart()">
                      &#128465;
                    </button>
                    <br>
                  </div>
                </div>
                <div class="cart-price">
                  Php 180
                </div>
            </li>
          </ul>
        </div>
        <div class="cart-action">
          {{!-- calculation should be done here --}}
          <h3>
            Subtotal: Php 180.00
          </h3>
          <button onClick="checkout()" class="button primary full-width">Checkout</button>
        </div>
    </div>
  </main>
</div>