{{#section 'header'}}
    <title>Milk Tea Labs | Checkout</title>  
    {{/section}}
    
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -50px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 60px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  {{!-- border: 1px solid black; --}}
  {{!-- border-radius: 30px; --}}
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 10px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 20px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

span.amount {
  float: center;
  color: grey;
}


@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">
      
        <div class="row">
          <div class="col-50">
            <h3> Contact Information</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" value="Christian Alcala">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" value="alcala@gmail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Delivery Address</label>
            <input type="text" id="adr" name="address" placeholder="uNIT 2802 GA Tower 1">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="Mandaluyong">
             <label for="phone"><i class="fa fa-institution"></i> Phone Number</label>
            <input type="number" id="phone" name="phone" placeholder="09173013974">

             <label for="remark"><i class="fa fa-user"></i> Remark</label>
            <input type="text" id="rmark" name="remark" placeholder="Preety good">
        
        </div>
       
       
    {{!-- <div class="row"> --}}
           {{!-- <div class="col-25"> --}}
           
            <div class="container">
            
                <h4>Orger
                  
                    <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i> 
                        <b>4</b>
                    </span>
                </h4>
                <p><a href="#">Boba Milk Tea</a>  <span class="price">Php 15 </span></p>
                <p><a href="#">Strawberry Milk Tea</a>   <span class="price">Php 15 </span></p>
                  <p><a href="#">Chocolate Milk Tea </a>  <span class="price">Php 15 </span></p>
                <p><a href="#">Orange na  Milk Tea</a>   <span class="price">Php 15 </span></p>
              
                <hr>
                <p> SubTotal <span class="price" style="color:black"><b>Php 30 </b></span></p>
                 <p>Delivery Fee <span class="price" style="color:black"><b>Php 30 </b></span></p>
                          <p> Total Fee <span class="price" style="color:black"><b>Php 30 </b></span></p>
              </div>
            <input type="submit" value="Check Out" class="btn">
          {{!-- </div> --}}
        
        {{!-- </div> --}}
        
      
      </form>
    </div>

  </div>
 
</div>

</body>


</html>