<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Transaction History</h1>
    <div class="historySection">
        <div class="transaction">
            <img class="col-sm-2 center" src="./img/icon1.png"/> <!--<a target="_blank" href="https://icons8.com/icons/set/tea">Tea icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
            <button class="btn btn-primary col-sm-2 center">See breakdown</button>
            <h4 class="description">March 22, 2020</h4>
            <h4 class="description">Total: 1120</h4>
        </div>

        <div class="transaction">
            <img class="col-sm-2 center" src="./img/icon1.png"/> <!--<a target="_blank" href="https://icons8.com/icons/set/tea">Tea icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
            <button class="btn btn-primary col-sm-2 center">See breakdown</button>
            <h4 class="description">March 22, 2020</h4>
            <h4 class="description">Total: 1120</h4>
        </div>

        <div class="transaction">
            <img class="col-sm-2 center" src="./img/icon1.png"/> <!--<a target="_blank" href="https://icons8.com/icons/set/tea">Tea icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
            <button class="btn btn-primary col-sm-2 center">See breakdown</button>
            <h4 class="description">March 22, 2020</h4>
            <h4 class="description">Total: 1120</h4>
        </div>

    </div>
</body>
</html>