<section id="blog" class="container">
    <h1 class="headerTemp"><span id="menuHead">Transaction History</span></h1>
    <div class="row">
        <div class="transaction">
            <img class="col-sm-2 center" src="./img/icon1.png"/> <!--<a target="_blank" href="https://icons8.com/icons/set/tea">Tea icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
            <button class="btn btn-primary col-sm-2 center">See breakdown</button>
            <h4 class="description">March 22, 2020</h4>
            <h4 class="description">Total: 1120</h4>
        </div>
        <div class="transaction">
            <img class="col-sm-2 center" src="./img/icon1.png"/> <!--<a target="_blank" href="https://icons8.com/icons/set/tea">Tea icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
            <button class="btn btn-primary col-sm-2 center">See breakdown</button>
            <h4 class="description">March 22, 2020</h4>
            <h4 class="description">Total: 1120</h4>
        </div>
        <div class="transaction">
            <img class="col-sm-2 center" src="./img/icon1.png"/> <!--<a target="_blank" href="https://icons8.com/icons/set/tea">Tea icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
            <button class="btn btn-primary col-sm-2 center">See breakdown</button>
            <h4 class="description">March 22, 2020</h4>
            <h4 class="description">Total: 1120</h4>
        </div>
    </div>
</section>