<div class = "barh">

    <img src="/img/cafe.jpg"  height="500px" ;
    width="1250px";>
    
    
<section class="introduction-section">
    <h1>About Us</h1>
    <p>Milk Tea Lab presents the utmost modernization of the booming bubble tea culture. We aim to 
        create a space for young kids to enjoy themselves whether it’s to grab a bite, study or 
        hang out with friends.</p>
    
    <p> We have a popular collection of board games 
        which are personally collected, from all over Asia for you to enjoy.These games are so 
        exclusive that many are not even sold in the states or available online!</p>
</section>

<section class="vision-section">
    <h1> Mission Vision</h1>
    <p>      We strive for a positive and inviting atmosphere, one where you can feel comfortable and be yourself. 
       </p>
</section>

<section class="questions-section">
    
    <h2>Our Products</h2>
    <p> Our tea experts know the best brewing temperature and time for each of the milk teas we offer. 
        Our bobas are cooked to perfection and our products are made with quality in mind. We use organic
        products as part of our key ingredients.</p>
    
    <p> We consider our staff our Scien”tea”ist, as they are constantly working on formulas 
        and experimenting with new drinks. In fact, our “Special Drink” of the month is dedicated 
        to the lucky Scien”tea”ist who has created the concoction. All special drinks needs to pass 
        our quality-control inspection as well as receive the owner’s final approval. A lot of time 
        and dedication go into formulating these drinks so the next time your here, be sure to try one!</p>

</section>


    
</div>
