<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header class="header d-flex align-items-center">
        <div class="container-fluid d-flex justify-content-center">
            <div class="description align-content-center p-4">
                <h1>{{title}}</h1>
                {{!-- <p>Satisfy your sweet cravings with creations from the MilkTeaLab!</p> --}}
                <a class="btn btn-primary btn-lg" href="menu">Go to Menu</a>
            </div>
        </div>
    </header>
</body>
</html>