{{#section 'header'}}
    <title>Milk Tea Labs | Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/update.css">
    <script src="home.js"></script>
{{/section}}

{{> messages}}
<div>
    <img src="/img/logo2.png" id='homeLogo'>
    <div id='infoSect'>    
        <section class="introduction-section">
            <h2>About Us</h2>
            <p>Milk Tea Lab presents the utmost modernization of the booming bubble tea culture. We aim to 
                create a space for young kids to enjoy themselves whether it’s to grab a bite, study or 
                hang out with friends.</p>
        </section>

        <section class="vision-section">
            <p>We strive for a positive and inviting atmosphere, one where you can feel comfortable and be yourself.</p>
        </section>

        <section class="questions-section">
            <p> Our tea experts know the best brewing temperature and time for each of the milk teas we offer. 
                Our bobas are cooked to perfection and our products are made with quality in mind. We use organic
                products as part of our key ingredients.</p>

            <p> We consider our staff our Scien”tea”ist, as they are constantly working on formulas 
                and experimenting with new drinks.</p>
        </section>
        
        <a href="/menu">
            <button class="btn btn-primary" id="btnBrew"><i class="fas fa-flask" style="font-size: 50px;"></i>&nbsp;&nbsp;Start Brewing!</button>
        </a>


        
    </div>
</div>
