<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Login}}</title>
</head>
<body>
    <h1 class="login">Log In</h1>
    <form class="login">
        <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname"><br><br>
        
        <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
        
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</body>
</html>