{{#section 'header'}}
    <title>Milk Tea Labs | Log-In</title>
    <link rel="stylesheet" href="/css/LogReg.css">
{{/section}}


{{> messages}}
<form action="/login" method="POST" class="logRegForm">
  <div class="imgCont">
    <img src="img/logo3.png" id="logo" class="LoginReg">
  </div>
    
  <div class="inputsCont">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" id="btnLogin" class="btn btn-primary btnLogReg"><span class="fas fa-sign-in-alt" style='font-size:20px'></span>&nbsp;&nbsp;Login</button>
  </div>

  <div class="logregSwitch">
    <span class="password" id='frgtPass'>Don't have an account?<a href="/register"> Sign Up</a></span>
  </div>
</form>