{{#section 'header'}}
    <title>Home</title>
<!--
     CSS 
    <link rel="stylesheet" href="/css/home.css">
    <script src='time.js'></script>
-->
{{/section}}

{{> messages}}

<form action="/login" method="POST" class="loginForm">
  <div class="imgCont">
    <img src="/img/logo2.png" alt="altLogo" class="altLogo">
  </div>

  <div class="inputsCont">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>

  <div class="btnCont">
    <span class="password" id='frgtPass'>Don't have an account?<a href="/register"> Sign Up</a></span>
  </div>
</form>