{{#section 'header'}}
    <title>Milk Tea Labs | Menu</title>
<!--
     CSS 
    <link rel="stylesheet" href="/css/home.css">
    <script src='time.js'></script>
-->
{{/section}}

{{> messages}}
<section id="blog" class="container">
    <h1 class="headerTemp"><span id="menuHead">Menu</span></h1>
    <div class="row">
        {{#each products}}
            <div class="text-center col-lg-4">
                <div class="card h-100 itemCont">
                    <img class="card-img-top itemImg" src="{{this.img}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Php {{this.price}}.00</p>
                        {{#if user}}
                                <button id="addToCart" class="btn btn-primary">Add to Cart</button>
                        {{else}}
                            <form action='/register' method="get">
                                <button type="submit" id="addToCart" class="btn btn-primary">Order Now</button>
                            </form>
                        {{/if}}
                    </div>
                </div>  
            </div>
        {{/each}}
    </div>
</section>