<section id="blog" class="container">
    <h1 class="headerTemp"><span id="menuHead">Menu</span></h1>
    <div class="row">
        {{#each product}}
            <div class="text-center col-lg-3">
                <div class="card h-100 itemCont">
                    <img class="card-img-top itemImg" src="{{this.img}}" alt="Card image cap"> <!--tea1 - Photo by Rosalind Chang on Unsplash-->
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Php {{this.price}}</p>
                        <button type="button" id="addToCart" class="btn btn-primary">Add to Cart<i class="fas fa-plus"></i></button>
                    </div>
                </div>  
            </div>
        {{/each}}
    </div>
</section>