{{#section 'header'}}
    <title>Milk Tea Labs | Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/scripts/profile.js"></script>
{{/section}}

{{> messages}}
<div>
    <div>
       <h1 class="headerTemp"><span id="menuHead">Profile Settings</span></h1> 
    </div>
    <div class="profilePic">
        <i class="fas fa-user-circle" id="profPic" style="font-size:200px;"></i>
        <ul>
            <li class="profileBtns" id= "settingsBtn"><i class="fas fa-users-cog"  style="font-size:25px;"></i>&nbsp;<span class="profileBtnsM">Settings</span></li>
            <li class="profileBtns" id= "myOrdersbtn"><i class="fas fa-bars"  style="font-size:25px;"></i>&nbsp;<span class="profileBtnsM">My Orders</span></li>
        </ul>
    </div>
    <div id="profileForm">
        <form method="post" action="/profile/updateUser" class="EditProfile" id="updateUser">
            <div class="inputsCont">
                <input type="hidden" id="userID" name="custId" value="{{userID}}">

                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Username" name="name" value="{{name}}" id='updatename' required>

                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" value="{{username}}" id='updateusername'required readonly>

                <span><b>Password</b></span><br>
                <div id="passHide">
                    <input type="password" placeholder="Current Password" id='currPass'>

                    <input type="password" placeholder="New Password" id='newPass1'>

                    <input type="password" placeholder="Confirm New Password" id='newPass2'>
                    <button id="passBtnCan" class="btn btn-primary" type="button">Cancel</button><br>
                </div>
                
                <button id="passBtnMod" class="btn btn-primary" type="button">Change Password</button><br>

                <label for="address" id="addressLabel"><b>Address</b></label>
                <input type="text" placeholder="Enter Address" name="address" value="{{address}}" id='updateaddress' required>

                <button type="submit" id="btnSaveChange" class="btn btn-primary btnLogReg"><span class="fas fa-address-card" style='font-size:20px'></span>&nbsp;&nbsp;Save Changes</button>
            </div>
        </form>
    </div>
</div>
