{{#section 'header'}}
    <title>Milk Tea Labs | Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="profile.js"></script>
{{/section}}

{{> messages}}
<form action="/update" method="POST" class="EditProfile">
  <div class="imgCont">
    <img src="/img/logo3.png" class="LoginReg">
  </div>
    
  <div class="inputsCont">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" value="{{username}}" required readonly>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" value="{{password}}" required>

    <label for="address"><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" value="{{address}}" required>

    <button type="submit" id="btnLogin" class="btn btn-primary btnLogReg"><span class="fas fa-address-card" style='font-size:20px'></span>&nbsp;&nbsp;Save Changes</button>
  </div>

</form>