<!--Code reference from https://www.codeply.com/p/o4g8TNKVEJ-->


<title>Profile</title>
<!--CSS -->
<link rel="stylesheet" href="css/profile.css">
<!-- JS -->
<script src="userScripts.js"></script>

<div class="profile">
    <div class="container">
        <h1>Profile</h1>

        <div class="userInfo">

            <div class="form">
                
                {{#each user}}

                <div class="label">Name</div>
                <div class="info">{{this.name}}</div>
                
                <br>

                <div class="label">Username</div>
                <div class="info">{{this.username}}</div>

                <br>

                <div class="label">Address</div>
                <div class="info">{{this.address}}</div>

                <br>
                {{/each}}
            </div>

        </div>

        
        <!-- edit form column -->
        
        <form action="/profile" method="POST">
            <div class="col-md-9 personal-info">
                <h5>Change Address</h5>
                
                <div class="form-group">
                    <label class="col-md-3 control-label">New Address:</label>
                    <div class="col-md-8">
                    <input class="form-control" name="address" type="text" value="">
                    </div>
                </div>
                {{!-- <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                    <input class="form-control" name="password" type="password" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                    <input class="form-control" name="confirmPass" type="password" value="">
                    </div>
                </div> --}}
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>     
</div>