{{#section 'header'}}
    <title>Milk Tea Labs | Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="profile.js"></script>
{{/section}}

{{> messages}}
<form action="/update" method="POST" class="EditProfile">
  <div class="imgCont">
    <img src="/img/logo3.png" class="LoginReg">
  </div>
    
  <div class="inputsCont">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" value="{{username}}" required readonly>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" value="{{password}}" required>

    <label for="address"><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" value="{{address}}" required>

    <button type="submit" id="btnLogin" class="btn btn-primary btnLogReg"><span class="fas fa-address-card" style='font-size:20px'></span>&nbsp;&nbsp;Save Changes</button>
  </div>

</form>


{{!-- <div id="updateModal" class="modal" data-backdrop="false">
    <!-- Modal Content -->
      <div class="addmodal">
        <!-- Modal Close Button -->
        <span class="close" data-dismiss="modal">&times;</span>
        <br>
        <!-- Modal Form -->
        <div class="modalbody">
            <!-- Modal Add Item Fields -->
            <div class="inputcontainer">
                <h1>Update Profile</h1>
                <form id="updateForm">
                    <!-- Username -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Username
                        </div>
                        <div class="forminput">
                            <input type="text" id="updateusername"> <!-- required-->
                        </div>
                    </div>
                    <br>

                    <!-- Address -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Address
                        </div>
                        <div class="forminput">
                            <input type="text" id="updateaddress">
                        </div>
                    </div>
                    <br>

                    <!-- Password -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Password
                        </div>
                        <div class="forminput">
                            <input type="password" id="updatepassword">
                        </div>
                    </div>
                    <br>

                        <!-- Modal Button -->
                    <div class="modalbtncontainer">
                        <button type="submit" class="button" id="btnupdateitem">Update</button>
                    </div>
                </form>
            </div>
            <br>
        </div>
        </div>
    </div>
        
    </div>
</div> --}}


