<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1 class="register">Registeration</h1>
    <form class="register">
        <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br><br>

        <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>

        <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname"><br><br>
        
        <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>

        <label for="address">Address:</label><br>
            <input type="text" id="address" name="address">
        
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</body>
</html>