{{#section 'header'}}
    <title>Home</title>
<!--
     CSS 
    <link rel="stylesheet" href="/css/home.css">
    <script src='time.js'></script>
-->
{{/section}}

{{> messages}}

<form action="/register" method="post" class="registForm">
 
    <div class="imgCont">
    <img src="/img/logo2.png" alt="altLogo" class="altLogo">
  </div>

  <div class="inputsCont">
      
    <label for="name">Name</label><br>
    <input type="text" placeholder="Name" name="name" required> 
      
    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" required>

    <label for="password1"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password1" required>
      
    <label for="password2"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="password2" required>
      
    <label for="address">Address</label>
    <input type="text" placeholder="Address" name="address" required>
    
    <button type="submit">Register</button>
  </div>

  <div id="alrdAcct">
    <span class="signIn">Already have an account?<a href="login"> Sign In</a></span>
  </div>
</form>
