<h1 class="headerTemp"><span id="menuHead">Registration</span></h1>
<form class="register">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>

    <label for="uname">Username:</label><br>
    <input type="text" id="uname" name="uname"><br><br>
        
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address">
        
    <button class="btn btn-primary" type="submit">Register</button>
</form>
