
{{> messages}}
<div class="history-title">Transaction History
    
    <div class="history-container">
        <div class="history">
            <div class="purchase-item">
                <div class="item-info">
                    <div class="Item-ID">ITEM ID:  1232432</div>
                    <div class="order"> Boba Milk Tea</div>
                      
                </div>
            </div>
            <div class="item-details">
                <div class="dateOrdered">DATE ORDERED: May 13 2019</div>
                <div class="status"> STATUS : Finished </div>
                <div class="checkout-amount">TOTAL: 100.00 Php </div>   
            </div>
            </div>
       </div>
   </div>     