body {
    font: 25px Helvetica;
    height: 100vh;
    margin: 0;
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") repeat;
    background-size: cover;
}

h2{
    text-align: center;
}


/*CART BORDERS*/

.containerCart{
    background: #c5e5f4;
    color: black;
    height: auto;
    width: 1000px;
    position: relative;
    left: 150px;
}


/*ROW*/

.roe{
    height: 100px
}


/*ROW ITEMS*/

.delButton{
    
}

.cartPicCont{
}

.cartPic{
    width: auto;
    height: 70px;
    position: relative;
    left: 20px;
}

.itemName{
    position: relative;
    top: 15px;
}

.itemDesc{
    color: dimgrey;
    position: relative;
    top: 20px;
    left: -80px;
    font-size: 15px;
}


#milkNum{
    width: 40px;
    height: 35px;
    border: black;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    position: relative;
    left: 50px;
    top: 10px;
    background: #e7f0e2;
}

.cartPrice{
    position: relative;
    top: 10px;
    left: 100px;
}

.cartSubT{
    
}

.closePic{
    width: auto;
    height: 15px;
    position: relative;
    top: 8px;
    left: 130px;
}



