body {
    font: 25px Helvetica;
    height: 100vh;
    margin: 0;
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") repeat;
    background-size: cover;
}

h2{
    text-align: center;
}


/*CART BORDERS*/

.containerCart{
    background: #c5e5f4;
    color: black;
    height: auto;
    width: 1100px;
    position: relative;
    left: 150px;
}


/*ROW*/

.roe{
    height: 100px
}


/*ROW ITEMS*/

.delButton{
    
}

.cartPicCont{
}

.cartPic{
    width: auto;
    height: 70px;
    position: relative;
    left: 20px;
}

.itemName{
    position: relative;
    top: 15px;
}

.itemDesc{
    color: dimgrey;
    position: relative;
    top: 20px;
    left: -80px;
    font-size: 15px;
}


input.milkNum{
    width: 30px !important;
    height: 30px !important;
    border: black !important;
    border-radius: 10px !important;
    border-style: none !important;
    text-align: center !important;
    position: relative !important;
    left: 50px !important;
    top: 10px !important;
    background: #e7f0e2 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.cartPrice{
    position: relative;
    top: 10px;
    left: 70px;
}

.cartSubT{
    
}

.closePic{
    width: auto;
    height: 15px;
    position: relative;
    top: 8px;
}

.plusminBtn{
    width: auto;
    height: 20px;
    position: relative;
    left: 50px;
    top: 10px;
}

.qtyCont{
    position: relative;
    right: 20px;
}

#btnCheck{
    position: relative;
    right: 170px;
    bottom: 30px;
}



