body {
    height: 100vh;
    margin: 0;
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") repeat;
    background-size: cover;
}

.itemsHead{
    display: inline;
    font-size: 15px;
    text-align: center;
}

#it{
   margin-right: 450px;
}

#qt{
   margin-right: 120px;
}

#pr{
    
}

.itemSpecs{
    background: #f7f7f7;
    height: 70vh;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

hr{
    border: 1px dashed black;
}

#checkLogo{
}

#itemHeadUL{
    margin: -15px;
}

.customerSpecs{
    background: #f7f7f7;
    height: 70vh;
    text-align: center;
    position: relative;
    left : 10px;
}


.priceEnd{
    width: auto;
    position: absolute;
    bottom: 130px;
    text-align: left;
    right: 20px;
}

.totHeaders{
    position:relative;
    margin-right: 10px;
    font-size: 18px;
}

.priHeaders{
    position: relative;
    margin-left: 10px;
    float: right;
}

#divPrice{
    width: 699.19px;
    position: absolute;
    bottom: 200px;
}

.itemTitle{
    position: relative;
    float: left;
    text-align: left;
    width: 200px;
}

.itemsubT{
    position: relative;
    float: right;
}

.itemQty{
    position: relative;
    left: 83px;
}

.cartItemss{
    font-family: "Courier New";
}

.payM{
    margin-top: 20px;
    text-align: center;
}

.custPayment{
    text-align: center;
}

.payMcont{
    margin-top: 30px;
    background: #262626;
    height: 180px;
}

#phNum{
    width: 200px;
}

#backTC{
    margin-right: 20px;
}

.checkoutbtns{
    position: absolute;
    text-align: center;
    bottom: 40px;
    right: 20px;
}

#codDiv{
    display: block;
}

#gcashDiv{
    display: none;
}

#creditDiv{
    display: none;
}

#teaPic{
    position: relative;
    top: 40px;
    left: 0px;
    height: 100px;
}

#checkoutLogo{
    position: relative;
    top: 40px;
    height: 100px;
}

#rights{
    position: absolute;
    color: white;
    bottom: 70px;
    left: 140px;
}