/*
body{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,164,198,1) 61%, rgba(0,64,78,1) 100%);
}
*/

body{
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") no-repeat;
    background-size: cover;
}

.LoginReg{
    width: 150px;
    position: relative;
    /* left: 200px; */
    top: 30px;
}

.logRegForm{
    display: block;
    position: relative;
    top: 40px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: groove;
    border-radius: 50px 0px 50px 0px;
    color: black;
    padding: 0px 0px 40px 0px;
    background: linear-gradient(90deg, rgb(251 251 251) 0%, rgb(177 214 172) 70%, rgb(255 255 255) 100%);
}

.logregSwitch{
    float: right;
    position: relative;
    bottom: 20px;
    right: 50px;
}

.inputsCont{
    position: relative;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

label{
    color: black;
}

.btnLogReg{
    position: relative;
    top: 10px;
}

.imgCont{
    text-align: center;
}