#menuHead{
    position: relative;
    left: 40px;
}

.headerTemp{
    position: relative;
    text-align: center;
    color: white;
}

.itemImg{
    height: 150px;
    margin-top: 25px;
    width: auto;
}

.row{
    position: relative;
    top: 25px;
}

.itemCont{
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(251 251 251) 0%, rgb(177 214 172) 70%, rgb(255 255 255) 100%);
}

.addToCart{
    position: relative;
    bottom: 10px;
    color: white;
    background: #36b320;
}


#price{
    position: relative;
    bottom: 10px;
}

body{
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") repeat;
    background-size: cover;
}

.menuCard{
    
}

.cartCont{
    margin-bottom: 200px;
}

.orderNow{
    height: 70px;
    width: 840px;
    color: white;
    background: #36b320;
    font-size: 40px;
}
