#logo{
    height: 100px;
    width: 300px;
}

.navbar-inverse{
    height: 130px;
}

.navbar-right{
    position: relative;
    top: 40px;
    margin-right: 10px;
}

.navbar-nav{
    position: relative;
    top: 40px;
    margin-left: 30px;
}

#atcNum{
    position: absolute;
    top: 20px;
    right: -15px;
    height: 20px;
    width: 19px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    font-size: 15px;
}

#atcNumIn{
    position: relative;
    top: -21px;
}

.container{
    height: 85vh;
}