body{
    background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%
}

.LoginReg{
  width: 500px;
  position: relative;
  left: 25px;
  top: 20px;
}

.headerTemp{
    text-align: center;
    position: relative;
    top: 0px;
}
    

.profileBtns{
    margin-bottom: 20px;
    font-size: 30px;
}

.profileBtnsM{
    margin-left: 5px;
}

::placeholder {
  color: darkgrey;
  opacity: 1; 
}

.profileBtnsM:hover,
.profileBtnsM:focus {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}


#profPic{
    margin-top: 50px;
    margin-bottom: 70px;
}


.profilePic{
    display: inline-block;
    position: relative;
    bottom: 52px;
}

.profilePicPass{
    display: inline-block;
    position: relative;
    bottom: 163px;
}

#profileForm{
    display: inline-block;
    position:relative;
    width: 700px;   
}

a { 
    color: inherit; 
    } 


.EditProfile{
    display: block;
    color: black;
    background-color:#c4ddb6;
    height: 450px;
    position: relative;
    bottom: 52px;
    left: 8vh;
}


.EditProfilePass{
    display: block;
    color: black;
    background-color: #c4ddb6;
    height: 600px;
    position: relative;
    bottom: 0px;
    left: 8vh;
}

#profPic{
    font-size: 200px;
}   

#profHead{
    display: inline-block;
    position: relative;
    font-size: 50px;
    top: -200px;
}

.logregSwitch{
  float: right;
  position: relative;
  bottom: 20px;
  right: 50px;
}

.inputsCont{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    padding-top: 40px;
}

label{
  color: black;
}

.btnLogReg{
  position: relative;
  top: 10px;
}

#passHide{
    display: inline-block;
}

#addressLabel{
    margin-top: 10px;
}