body{
    margin: 0;
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: white;
}

#cartbody{
    background: white;
}

#history{
    background: white;
}

.headCont{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #55d6aa; 
}

header::after{
    content: "";
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px 0;
    height: 100px;
    width: 100px;
}

nav{
    float: right;
}

nav ul{
    margin : 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover{
    color: #000;
    
}

nav a::before{
    content: "";
    display: block;
    height: 5px;
    widows: 100%;
    background-color: #444;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.login{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginContent{
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 0px 5px;
    position: relative;
}


.loginContent input{
    margin: 20px 116px 20px 116px;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid black;
}

.loginButton{
    background: white;
    color: #34495e;
    padding: 10px 15px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 0px 5px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.loginButton:hover{
    background: #34495e;
    color: white;
}

.close{
    position:absolute;
    top: 10px;
    right: 10px;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}


.header {
    text-align: center;
    font-weight: bold;
}

#editCont{
    width: 60%;
    border-radius: 25px;
    display: center;
    border: 2px  #beebe9;
    background-color: #beebe9;
    margin: auto;
    padding: 10px;
}

#editable{
    width: 200px;
    border: 1px solid #B3C2F2;
    background-color: #B3C2F2;
    border-radius: 15px;
    display: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.username {
    margin: 0;
    display: inline-block;
}


#tea {
    max-width: 20%;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.header2 {
    text-align: center;
    font-weight: bold;
}

#transaction {
    width: 80%;
    /* margin-left: 60px;
    margin-right: 60px; */
    border-radius: 25px;
    display: center;
    border: 2px solid #b2dffb;

    margin: auto;
    width: 50%;
    padding: 10px;
}

.date {
    font-weight: bold;
}

.totalAmount{
    text-align: right;
    font-weight: bold;
}

.description {
 
}
